:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
:host > div:nth-child(2n) {
  background-color: #f0f0f0; /* Adjust the color as needed */
}
:host > div {
  padding: .5rem;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  button {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:disabled {
      cursor: not-allowed;
      background-color: #f0f0f0;
      color: #ccc;
    }

    &:hover {
      background-color: #f0f0f0;
    }

    &:active {
      background-color: #e0e0e0;
    }


  }

}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-loading {
  position: relative;
  padding-right: 2rem;

  &::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border: 2px solid #fff;
    border-top: 2px solid #007bff;
    border-radius: 50%;
    left: calc(50% - .5rem);
    animation: spinner 0.6s linear infinite;
  }
}
